<div class="page" data-name="preview">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Imprimir</div>
    </div>
  </div>
     <div class="page-content color">
    <div class="block">

      
    <div id="_foto" style="      background:  url(  '../img/policia2.jpg  ');
      background-size: 25%; width: 100%; padding: 40px; color: #0000FF;">

         <p style="font-weight: bold;"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  Direccion de Seguridad  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp Publica de Apizaco</p>
            
        

           <p style="font-weight: bold;">Nombre del Juez</p>
           <span>Jesus Omar Rodriguez Hernandez</span>

          <p style="font-weight: bold;"></p>
          <span id="_prev_lugar"></span>

          
       </div>
       </div>
        <div class="row">
          <button class="col button button button-raised button-fill red" onclick="app.placas()"><i class="app-icon icon-user-plus">&#xe801;</i>enviar</button>
        </div>

    </div>
    
        <div class="row">
          <button class="col button button button-raised button-fill red" onclick="app.placas()"><i class="app-icon icon-user-plus">&#xe801;</i>enviar</button>
        </div>



    
    
    </div>
  </div>
</div>

</div>